@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --background-color: #00030C;
    --principal-white: #FFFFFF;
    --secundary-white:#F9F9F9;
    --blue-button:#167BF7;

    --principal-font:'Inter';

}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--principal-white);
    background-color: var(--background-color);
    font-family: var(--principal-font);
}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__subtitulo {
    font-family: Inter;
    font-size: 1.75em;
    font-weight: 700;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--titles-color);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--principal-white);
    
}

.container__alerta {
    color: var(--secundary-white);
    font-family: var(--principal-font);
    font-size: 0.75em;
    font-weight: 400;
}

.container__comboimg {
    margin: 1em 0 2em 0;
}

.container__caixa {

    justify-content: center;
    margin: 0 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;

}

.descricao__titulo{
    font-size: 3em;
    font-weight: 700;
    color: var(--principal-white);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 1em;
    font-weight: 300;
    color: var(--secundary-white);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    display: flex;
    flex-direction:column;
}

.container__imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 69px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--principal-white);

}

.lista__item {
    font-size: 2em;
    color: var(--principal-white);
}

.rodape {
    text-align: center;
    margin: 9em 15% 0 15%;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 2.5em 0;
    list-style-type: none;
}

.rodape__direitos__autorais {
    margin-top:2em;
}

.direitos__autorais{
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 300;
    margin: 2em 2em 2em 2em;

}

.lista__link__link{
    font-size: 1em;
    font-weight: 400;
    color: var(--principal-white);
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--blue-button);
}